#VarRowRoot 
{
	width: 450px;
	height: auto;
}

#TopRow
{
	margin-bottom: 3px;
}

#TypeLabel
{
	font-size: 16px;
}

.varRowTypeLabel
{
	background-color: #3C5E4F;
}

.textField
{
	-unity-font-definition: resource('Fonts/Exo2/Exo2-Regular');
	color: rgb(229, 229, 229);
	font-size: 18px;
	height: 100%;
	-unity-text-align: middle-left;
	padding: 0px;
	margin: 0px;
}

.textField > #unity-text-input
{
	flex-grow: 1;
	min-height: 35px;
	max-height: 80px;
	width: 100%;
	
	padding: 5px;
	background-color: var(--dark-mode-text-bg-color);
	color: var(--dark-mode-text-color);
	border-radius: var(--text-field-border-radius);

}

#ValueFieldHolder
{
	width: 100%;
}