/* For non-selected Blocks. */

:root
{
	--block-border-color: rgba(0, 0, 0, 0.5);
	-unity-font-definition: resource("Fonts/Amaranth/Amaranth-Regular SDF-UITK");
	--selected-block-border-color: rgba(0, 250, 0, 1);
}

.fill-whole-parent
{
	width: 100%;
	height: 100%;
	margin: 0px;
}

.block-root
{
	position: relative;
}

.block-event-handler-label
{
	position: absolute;
	top: -18px;
	left: 0px;
	right: 0px;
	height: 16px;
	font-size: 14px;
	-unity-text-align: middle-center;
	white-space: nowrap;
	color: rgba(255, 255, 255, 0.85);
}

.block-event-handler-label-hidden
{
	display: none;
}

.block-button
{
	padding: 7px;
	

}

.block-label
{
	padding: 0px;
	font-size: 24px;
}

.flowchartBlock
{
	position: absolute;
	justify-content: center;
	align-items: center;
	white-space: normal;

	padding-left: 15px;
	padding-right: 15px;

	padding-top: 5px;
	padding-bottom: 5px;

	border-radius: 6px;
	border-width: 3px;
	border-color: var(--block-border-color);
}

.flowchartBlockSelected
{
	border-color: var(--selected-block-border-color);
}